* {
    padding: 0;
}

body {
    background-image: url(images/bg.jpg);
    background-size: cover;
}

.main {
    background-color: blueviolet;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
    height: 500px;
    display: flex;
    flex-direction: row;
}

.left {
    width: 60%;
    margin: 50px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline;
    padding: 50px;
    font-size: larger;
    font-weight: bold;
    color: white;
}

.right {
    width: 40%;
    margin: 50px;

}

.rightSubhead img {
    height: 30px;
    width: 30px;
}