* {
    padding: 0;
}

body {
    background-image: url(images/bg.jpg);
    background-size: cover;
}

.main {
    background-color: blueviolet;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
    height: 500px;
    display: flex;
    flex-direction: row;
}

.rightSubhead img {
    height: 30px;
    width: 30px;
}